@import io.github.nietaki._

@(redirectUri: String, clientId: String)(implicit messages: Messages)

@main("reddit saved items") {
    hi there
    <br />
    <h3>Reddit auth</h3> 

    <a href="@{io.github.nietaki.controllers.routes.AuthController.redirectToRedditAuth()}">go to reddit auth using controller redirect</a>
    <br />
    
    <!--<a href="@{io.github.nietaki.controllers.routes.SavedItemsController.getSavedItems()}">my reddit saved items</a>
    <br />-->
    <a href="@{io.github.nietaki.controllers.routes.SavedItemsController.savedItems()}">my reddit saved items - js version</a>
    <br />
    <!--
    <h3>Utils</h3>
    <a href="/util/createTables">create tables</a> <br />
    <a href="/util/dropTables">drop tables</a> <br />
    -->
}
