@import io.github.nietaki._

@()(implicit messages: Messages)

@main("reddit saved items") {
    hi there
    
    <h3>Reddit auth</h3> 
    <a href="https://www.reddit.com/api/v1/authorize?client_id=FZpyk25KQW7MgA&response_type=code&state=random_string&redirect_uri=http%3A%2F%2F127.0.0.1%3A9000%2Fauth%2Freddit_redirect&duration=temporary&scope=history+identity">authorize with reddit</a>
    
    <h3>Utils</h3>
    <a href="/util/createTables">create tables</a> <br />
    <a href="/util/dropTables">drop tables</a> <br />
}
