@import io.github.nietaki._

@(redirectUri: String, clientId: String)(implicit messages: Messages)

@main("reddit saved items") {
    <div class="jumbotron">
        <h1>View your Reddit Saved Items</h1>
        <p>Reddit has a lot of content, but you can't nicely search through your saved stuff. This is a page that's meant to fix it.</p>
        <p><a class="btn btn-primary btn-lg" href="@{io.github.nietaki.controllers.routes.SavedItemsController.savedItems()}">Let's do this!</a></p>
    </div> 
    
    <h2>What's the deal?</h2>
}
