@import io.github.nietaki._

@()(implicit messages: Messages)

@scripts = {
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <link rel="stylesheet" href="@routes.Assets.versioned("imported/ng-table.min.css")">
    <script src="@routes.Assets.versioned("imported/ng-table.min.js")" type="text/javascript"></script>

    <script src="@routes.Assets.versioned("javascripts/RedditCommunicator.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/DisplayTable.js")" type="text/javascript"></script>
}

@main("reddit saved items", scripts) {
    <div ng-app="savedItems" ng-controller="displayTableCtrl as dt">

        <table ng-table="dt.tableParams" class="table" show-filter="true">
            <tr ng-repeat="item in $data">
                <td title="'Title'" filter="{ title: 'text'}" sortable="'title'">
                    <a href="{{item.permalink}}">{{item.title}}</a>
                </td>
                <td title="'Subreddit'" filter="{ subreddit: 'text'}" sortable="'subreddit'">
                    <a href="https://www.reddit.com/r/{{item.subreddit}}">{{item.subreddit}}</a>
                </td>
            </tr>
        </table>


        <div id="contentOutput">Loading...</div>
    </div>
}
